<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="centered-item">
        <h1>OneMillion</h1>
        <h3>Done by: Khalid Hasan</h3>
        <h5>Preparation for develop branch V1.0.0</h5>
    </div>
    <div class="centered-item">
        <a href="#">Members</a>
        <a href="#">Profile</a>
    </div>
    <div class="content">
        <a href="{{url_for("topic_add")}}">Create</a>
        <table>
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>
                        <a href="{{ url_for("topic_show", id = post.id) }}">{{post.title}}</a> 
                    </td>
                    <td>
                        <a href="{{ url_for("topic_update", id = post.id) }}" >Edit</a>
                    </td>
                    <td>
                        <a class="delete" href="#" data-id="{{post.id}}">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>Khalid Hasan (Release V1.0.0.1)</footer>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    jQuery(function () {
        $(".delete").click(function (event) {
            var id = $(this).attr('data-id');
            var url1 = "/api/topic/delete/" + id
            $.ajax({
                type: "DELETE",
                url: url1,
                contentType: "application/json; charset=ytf-8",
                dataType: "json",
                success: function (response) {
                    alert("Deleted topic successfully !");
                }
            });
            
        });
        

            
        
    });
</script>