<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Topic</title>
</head>
<body>
    <h1>Create new Topic</h1>
    <form action="{{ url_for("topic_add") }}" method="post">
        <div>
            <label for="topictitle">Topic Title</label>
            <input type="text" name="topictitle" id="topictitle">
        </div>
        <div>
            <label for="topicbody">Topic Body</label>
            <input type="text" name="topicbody" id="topicbody">
        </div>
        <div>
            <input type="submit" value="Save Topic" id="btn_submit">
        </div>
    </form>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    jQuery(function () {
        var submitButton = jQuery("#btn_submit");        
        submitButton.click(function (event) {
            event.preventDefault();
            var topicTitle = $("input[name='topictitle']").val();
            var topicContent = $("input[name='topicbody']").val();
            var topicData = {
                "title": topicTitle,
                "body": topicContent
            };

            $.ajax({
                type: "POST",
                url: "/api/topic/add",
                data: JSON.stringify(topicData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Added topic successfully !");
                }
            });
        });
    });
</script>