<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Topic</title>
</head>
<body>
    <h1>Show Topic</h1>
    
        <div>
            <label >Topic Title</label>
            <div>{{post.title}}</div>
        </div>
        <div>
            <label >Topic Body</label>
            <div>{{post.body}}</div>
        </div>
        
    </form>
    
</body>
</html>